@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--Very-Light-Gray);
  text-align: center;
}

.container {
  margin: 5em 2em;
}

.one {
  font-size: 25px;
  font-weight: 200;
  color: var(--Very-Dark-Blue);
}

.two,
.header {
  font-size: 25px;
  font-weight: 600;
  color: var(--Very-Dark-Blue);
}

.title {
  margin-bottom: 1em;
}

.first,
.paragraph {
  font-size: 14px;
  color: var(--Grayish-Blue);
}

.first {
  margin-bottom: 3em;
}

.card {
  border-top-color: var(--Cyan);
  border-top-style: solid;
  border-top-width: 2px;
  background-color: white;
  margin-bottom: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: start;
  padding: 1.5em;
  border-radius: 0.4em;
}

.header {
  font-size: 20px;
}

.paragraph {
  font-size: 12px;
  margin-bottom: 2em;
  line-height: 2em;
}

img {
  display: block;
  margin-left: auto;
  width: 40px;
  height: auto;
}

.builder {
  border-top-color: var(--Red);
}

.karma {
  border-top-color: var(--Orange);
}

.calculator {
  border-top-color: var(--Blue);
}
